<div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                
                <div class="tab-content py-4">
                    <div class="tab-pane active" id="profile">
                        <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title">{{results.name}}</h5>
                                  <p class="card-text">Rating: {{results.rating}}/5</p>
                                  
                                </div>
                              </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="https://maps.googleapis.com/maps/api/place/photo?photoreference={{results.photos[0].photo_reference}}&sensor=false&maxheight=400&maxwidth=400&key=AIzaSyCnNfklp2ko9Cu8DlCoDctH6cupJ8tJk-k" class="img-fluid img-thumbnail" alt="avatar">
                
            </div>
        </div>
    </div>